body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

input[type="range"] { margin-left: 1em; position: relative; }
input[type="range"]:after,
input[type="range"]:before { color: #aaa; position: absolute; top: 1em; }
input[type="range"]:before { content: attr(min); left: 0; }
input[type="range"]:after { content: attr(max); right: 0; }