body {
  background-color: #111;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
a { color: #376fba; }
div,
li a { box-sizing: border-box; }

h3 { margin: 0 0 10px; text-align: left; }
.clear { clear: both; }

.container {
	color: #666;
	margin: 0 auto;
	padding: 0;
	width: 100%;
}
header {
	background-color: #376fba;
	color: #fff;
	padding: 10px;
	text-align: center;
}
h1 {
	font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
	font-size: 2.2em;
	font-weight: normal;
	margin: 0;
	-webkit-text-shadow: 1px 1px 1px #000;
	   -moz-text-shadow: 1px 1px 1px #000;
			text-shadow: 1px 1px 1px #000;
	text-transform: uppercase;
}
.content {
	background-color: #fff;
	height: auto;
	min-height: 333px;
	padding: 10px;
}
footer {
	background-color: #111;
	color: #fff;
	padding: 10px;
	text-align: center;
}
footer .about { float: left; }
footer .top { float: right; }


/*Home*/
.option { border-top: 2px solid #ccc; clear: both; padding: 10px 0; }
.option button { background-color: #ddd; color: #999; font-size: 1.2em; }
.option .selectione { background-color: #333; }

.option1 { border: none; }
.batterie { float: left; text-align: center; width: 60%; }
.therm { float: left; font-size: 0.8em; width: 40%; }
.therm .temp { font-size: 2em; }

.option2 button {
	background-position: center 10px;
	background-repeat: no-repeat;
	border: none;
	height: 150px;
	padding-top: 100px;
	text-align: center;
	width: 50%;
}
.option2 button:hover { background-color: #666; }
.option2 .close { background-image: url("../img/closed.png"); }
.option2 .open { background-image: url("../img/open.png"); }

.option3 button {
	background-position: center 10px;
	background-repeat: no-repeat;
	border: none;
	height: 100px;
	padding-top: 70px;
	width: 33.33%;
}
.option3 button:hover { background-color: #666; }
.option3 .ouvert { background-image: url("../img/pane2.png"); }
.option3 .ferme { background-image: url("../img/pane-close2.png"); }
.option3 .entrouvert { background-image: url("../img/pane-half.png"); }

.option4 button {
	background-position: center 0;
	background-repeat: no-repeat;
	border: none;
	height: 100px;
	padding-top: 70px;
	text-align: center;
	width: 50%;
}
.option4 button:hover { background-color: #666; }
.option4 .hot { background-image: url("../img/hot2.png"); }
.option4 .cold { background-image: url("../img/cold2.png"); }

.option5 button { 
	background: #333 url("../img/where.png") 10px center no-repeat;
	border: none;
	padding: 15px 0;
	width: 100%;
}
.option5 button:hover { background-color: #222; }

form.actions input[type='submit'] {
	display: none;
}

.menu { border-top: 2px solid #ccc; }
.menu ul {
	list-style: none;
	margin: 10px 0;
	padding: 0;
}
.menu ul li {
	background-color: #333;
	font-size: 1.2em;
	margin-bottom: 5px;
	padding: 20px;
	text-align: center;
	width: 86%;
}
.menu ul li:hover { background-color: #222; }
.menu .item1 { 
	background: #333 url("../img/map2.png") 10px center no-repeat;
}
.menu .item2 { 
	background: #333 url("../img/stats.png") 10px center no-repeat;
}
.menu .item3 { 
	background: #333 url("../img/settings.png") 10px center no-repeat;
}

/*Map*/

/*Statistiques*/
.stat {
	font-family: "Bree serif", serif;
	font-size: 2.2em;
	margin: 3px 0;
	text-align: center;
}

/*Réglages*/
.option1 div { margin-bottom: 8px; }
.option1 div span { display: inline-block; width: 50%; }
.option1 div button { border: none; padding: 5px; width: 50px; }
#alertes { background-color: #ddd; border: none; float: right; margin-bottom: 5px; padding: 5px; }
input[type="range"] { margin-left: 1em; position: relative; }
input[type="range"]:after,
input[type="range"]:before { color: #aaa; position: absolute; top: 1em; }
input[type="range"]:before { content: attr(min); left: 0; }
input[type="range"]:after { content: attr(max); right: 0; }



.retour { display: none; }



@media screen and (min-width: 768px) {
	body {
		background-color: #70a9bc;
		background-image:linear-gradient(top, #a4c8d4 0%, #70a9bc 50%);
    	background-image:-webkit-linear-gradient(top, #a4c8d4 0%, #70a9bc 50%);
    	background-image:-ms-linear-gradient(top, #a4c8d4 0%, #70a9bc 50%);
    	background-image:-webkit-gradient(
        	linear,
        	left top,
        	left bottom,
        	color-stop(0, #a4c8d4),
        	color-stop(0.5, #70a9bc)
    	);
    	background-attachment:fixed;
    	-webkit-background-size: cover;
		   -moz-background-size: cover;
				background-size: cover;
	}
	.container {
		-webkit-border-radius: 5px;
		   -moz-border-radius: 5px;
				border-radius: 5px;
		margin: 50px auto;
		max-width: 600px;
		width: 50%;
	}
	header {
		-webkit-border-radius: 5px 5px 0 0;
		   -moz-border-radius: 5px 5px 0 0;
				border-radius: 5px 5px 0 0;
	}
	.content { padding: 20px; }
	footer {
		-webkit-border-radius: 0 0 5px 5px;
		   -moz-border-radius: 0 0 5px 5px;
				border-radius: 0 0 5px 5px;
	}
	.retour {
		display: block;
		margin: -15px 0 15px;
	}

	.menu ul li { width: 93%; }

	.option1 div span { display: inline-block; width: 30%; }

}