extends layout

block retour

block content

  .option.option1
    .batterie
      img(src='../img/battery.png', alt='Niveau de batterie')
      p#batteryCharging ...
      p#batteryLevel Niveau de la batterie: 
        span #{batteryStatus.level}

    .therm
      p
        span.temp #{temperature.internal}°C 
        span Intérieur
      p
        span.temp #{temperature.external}°C 
        span Extérieur

  form.actions
    .option.option2
      h3 Portes
      button.close(type='button', id='door-close', value='lock', name='locking') Verrouiller
      button.open(type='button', id='door-open', value='unlock', name='locking') Déverrouiller

    .option.option3
      h3 Vitres
      button.ouvert(type='button', id='pane-open') Ouvrir
      button.ferme(type='button', id='pane-close') Fermer
      button.entrouvert(type='button', id='pane-half') Entrouvrir

    .option.option4
      h3 Chauffage
      button.hot(type='button', id='heat-on') On
      button.cold(type='button', id='heat-off') Off

    .option.option5
      button(type='button', id='where') Where is my car ?

    input(type='submit', value='ok')

  .menu
    ul
      a(href='/map')
        li.item1 Carte des bornes
      a(href='/statistics')
        li.item2 Statistiques
      a(href='/settings')
        li.item3 Réglages

block footer
  footer
    a.about(disabled) A propos
    a.top(href='#') Haut de page
    .clear