doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/normalize.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/js/script.js')
    script(src='/js/eventSource.js')
  body
    block content