doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/normalize.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
      
  body
    .container

      header
        h1=title

      .content
        block content

      block footer
        footer
          a(href='/') Retour
          a.about(disabled) A propos
          a.top(href='#') Haut de page
          .clear

    script(src='/js/zepto.min.js', type='text/javascript')
    script(src='/js/script.js', type='text/javascript')     
    script(src='/js/eventSource.js')
    script(src='/js/ajax.js')
    block script