extends layout

block content
  div.site.map

    header
      h1= title

    iframe(src='http://maps.google.fr/', height='450', width='100%')

    footer
      p 
        a(href='/') Retour
      p.about 
        span#about A propos
      p.top
        a(href='#') Haut de page
      div.clear

  p.retour
    a(href='/') Retour