extends layout

block content
  div.site.map

    header
      h1= title

    div.content

    footer
      p 
        a(href='/') Retour
      p 
        a(href='#') A propos
      p
        a(href='#') Haut de page