extends layout

block content
  div.site.settings

    header
      h1= title

    div.content

      div.option.option1
        h3 Alertes
        p M'alerter lorsque le niveau de la batterie atteint 100% :
        div.alert-mob
          p Application mobile
            button.sms-y.selection(type='button', id='heat-on') On
            button.sms-n(type='button', id='heat-off') Off
        div.alert-sms
          p Sms
            button.sms-y.selection(type='button', id='heat-on') On
            button.sms-n(type='button', id='heat-off') Off
        div.phone
          label Numéro de téléphone
            input(type='tel', name='phone', value='0606060606', disabled)
          button(type='button', id='phone-modif')
            img(src='/img/.png', alt='Modifier')

      div.option.option2
        h3 Température du préchauffage
        input(type='range', name='prechauff', max='30', min='0', value='20', step='1')

    footer
      p 
        a(href='/') Retour
      p.about 
        span#about A propos
      p.top
        a(href='#') Haut de page
      div.clear

  p.retour
    a(href='/') Retour