extends layout

block content
  .option.option1
    h3 Alertes
    p M'alerter lorsque le niveau de la batterie atteint 100%
    .alert-mob
      div
        span Application mobile 
        button.mob(type='button', id='mob-on') On
        button.mob(type='button', id='mob-off') Off
    .alert-sms
      div 
        span Sms 
        button.sms(type='button', id='sms-on') On
        button.sms(type='button', id='sms-off') Off
    .phone
      label
        span Numéro de téléphone 
        input(type='tel', name='phone', id='phone-number')
    button.save(type='button', id='alertes') Enregistrer

  .option.option2
    h3 Température du préchauffage
    input(type='range', name='prechauff', max='30', min='0', value='20', step='1')

block script
  script(src='/js/settings.js', type='text/javascript')