extends layout

block content
  .option.option1
    p Moyenne de km parcourus entre chaque charge
    div.stat 100 km

  .option.option2
    p Nombre total de km parcourus
    div.stat 2553 km
      
  .option.option3
    p Nombre de charges complètes de la batterie
    div.stat 22 charges

  .option.option4
    p Energie totale dépensée
    div.stat 1800 Watts