extends layout

block content
  div

    header
      h1= title

    div.content

      div.option.option1
        h3 Moyenne de km parcourus entre chaque charge
        p.stat 100 km

      div.option.option2
        h3 Nombre total de km parcourus
        p.stat 2553 km
      
      div.option.option3
        h3 Nombre de charges complètes de la batterie
        p.stat 22 charges

      div.option.option4
        h3 Energie totale dépensée
        p.stat 1800 Watts

    footer
      p 
        a(href='/') Retour
      p 
        a(href='#') A propos
      p
        a(href='#') Haut de page